@charset "UTF-8";
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  color: #212121
}
h1, h2, h3, h4, h5, h6{
  font-family: 'Source Sans Pro', sans-serif;
}

.main-wrapper{
  display: flex;
  justify-content: space-between;
}
.header{
  padding: 15px 0;
}
.logo{
  height: 120px;
}
li {
  list-style: none;
}
ul {
  padding: 0;
  margin: 0;
}
/*контейнер*/
.container {
  width: 85%;
  margin: 0 auto;
}

/*стилизация меню*/
.menu-list {
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 60%;
}
.menu-link {
  text-decoration: none;
}
.book-wr{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  -ms-align-items: center;
  align-items: center;
}
.book-pic{
  height: 350px;
}
.btn{
  border: none;
  padding: 10px;
  background-color: #d24d43;
  border-radius: 2px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  
}
.btn:hover{
  cursor: pointer;
  box-shadow: 0 14px 28px rgba(88,62,76,0.22), 0 10px 10px rgba(88,62,76,0.20);
}

.bestsell{
  background-color: #f9f9f9;
  padding: 50px 0;
}

.best-title{
  font-size: 32px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.new-title{
  font-size: 32px;
  text-align: center;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.new{
  padding: 50px 0;
}

.book-button{
  display: block;
  margin: 10px auto;
}

.book-title{
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.book-author{
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}